﻿@model IList<TraoiDoiSubb.Models.Account>
@{
    ViewData["Title"] = "Home Page";

}

<div class="card">
    <div class="card-body">

        <div class="row m-b-30">
            <div class="col-lg-4">
                @{
                    long tongxu = 0;
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            tongxu += item.XuBanDau;
                        }
                    }
                    <h4>Tổng Xu: <span style="color:red">@tongxu.ToString("#,##0")</span> xu </h4>
                }
            </div>
            <div class="col-lg-4">
                @{
                    long tongxudie = 0;
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            tongxudie += item.Xudie;
                        }
                    }
                    <h4>Tổng Xu Die : <span style="color:red">@tongxudie.ToString("#,##0") </span> xu </h4>
                }
            </div>
            <div class="col-lg-4  text-right">
             
                <button class="btn btn-primary" data-toggle="modal" data-target="#create-new-project">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm ID Token</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr style="text-align:center">
                        <th>User</th>
                        <th>Xu hiện tại</th>
                        <th>XuDie</th>
                        <th>Trạng thái</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                        <tr style="text-align:center">
                                            <td>@item.User</td>
                                            <td>@item.XuBanDau.ToString("#,##0")</td>
                                            <td>@item.Xudie.ToString("#,##0")</td>
                                            @if (item.Status == false)
                                            {
                                                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Update" asp-route-id="@item.Id"><span style="color:white">Bắt đầu</span></a></td>

                                            }
                                            else
                                            {
                                                <td><a class="btn btn-success" asp-controller="Home" asp-action="Update" asp-route-id="@item.Id"><span style="color:white">Hoạt động</span></a></td>
                                            }

                                            <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id"><i class="anticon anticon-delete"></i></a></td>
                                        </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="create-new-project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm ID Token</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" method="post" asp-controller="Home">
                    <div class="form-group">
                        <label for="new-project-name">ID Token</label>
                        <input type="text" class="form-control" name="token" id="new-project-name" placeholder="Nhập ID Token">
                    </div>
                    <div class="form-group modal-footer">
                        <input type="submit" value="Lưu" class="btn btn-primary btn-tone m-r-5" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>